In [155]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from splinter.exceptions import ElementDoesNotExist

'which' is not recognized as an internal or external command,
operable program or batch file.

In [156]:
executable_path = {'executable_path': 'C:/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [157]:

 #Initializing the marsData dictionary to store all the Mars Info
marsData = {}

In [151]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [152]:
 # Retrieve page with the requests module
newspage = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(newspage, 'html.parser')

# Retrieve the latest element that contains news title and news_paragraph
newsTitle = soup.find('div', class_='content_title').find('a').text
newsPara = soup.find('div', class_='article_teaser_body').text

In [104]:
print(newsTitle)
print(newsPara)
marsData["newsTitle"]= newsTitle
marsData["newsPara"]= newsPara
marsData

After a Reset, Curiosity Is Operating Normally
NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer.

{'newsTitle': 'After a Reset, Curiosity Is Operating Normally',
 'newsPara': "NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer. "}

In [105]:
#Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_image_url)
htmlImg = browser.html
#parse
soup = bs(htmlImg, 'html.parser')

In [106]:


#image url to the full size .jpg image.

soup.find_all('article', style_ ='background-image')
print (imgUrl)

/spaceimages/images/wallpaper/PIA14884-1920x1200.jpg

In [107]:
# Website Url
jplurl = 'https://www.jpl.nasa.gov'

# Concatenate website url with scrapped route
completeUrl = jplurl + imgUrl

# Display full link to featured image
completeUrl 
marsData ["featuredImage"] = completeUrl
marsData

{'newsTitle': 'After a Reset, Curiosity Is Operating Normally',
 'newsPara': "NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer. ",
 'featuredImage': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14884-1920x1200.jpg'}

In [108]:

#  Mars Weather Twitter via Splinter
marsWeatherUrl = 'https://twitter.com/marswxreport?lang=en'
browser.visit(marsWeatherUrl)
marsWeatherUrlhtml = browser.html

# Parse HTML with Beautiful Soup
soup = bs(marsWeatherUrlhtml, 'html.parser')

In [60]:
#Retrieve latest tweeets
latestTweets = soup.find_all('div', class_ ='js-tweet-text-container')

for tweet in latestTweets:
   mars_weather = tweet.find('p').text
   if 'sol' and 'pressure' in mars_weather:
       print(mars_weather)
       break
   else:
       pass
marsData["weatherTweets"]=mars_weather
marsData

{'newsTitle': 'After a Reset, Curiosity Is Operating Normally',
 'newsPara': "NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer. ",
 'featuredImage': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14884-1920x1200.jpg',
 'weatherTweets': 'InSight sol 83 (2019-02-19) low -95.0ºC (-139.0ºF) high -11.7ºC (11.0ºF)\nwinds from the SW at 4.1 m/s (9.2 mph) gusting to 10.5 m/s (23.6 mph)\npressure at 7.20 hPa'}

In [173]:
# Mars facts url
marsfactsurl = 'https://space-facts.com/mars/'

# Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
factsofMars = pd.read_html(marsfactsurl)
factsofMars

marsfactsdf = factsofMars[0]
marsfactsdf
marsfactsdf.columns = ['Attributes','Value']

marsfactsdf

             Attributes                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [174]:

marsfactsdf.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Attributes</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [175]:

marsfactDict = marsfactsdf.to_dict(orient='records')
marsfactDict

marsData["marsFacts"]= marsfactDict
marsData

{'marsFacts': [{'Attributes': 'Equatorial Diameter:', 'Value': '6,792 km'},
  {'Attributes': 'Polar Diameter:', 'Value': '6,752 km'},
  {'Attributes': 'Mass:', 'Value': '6.42 x 10^23 kg (10.7% Earth)'},
  {'Attributes': 'Moons:', 'Value': '2 (Phobos & Deimos)'},
  {'Attributes': 'Orbit Distance:', 'Value': '227,943,824 km (1.52 AU)'},
  {'Attributes': 'Orbit Period:', 'Value': '687 days (1.9 years)'},
  {'Attributes': 'Surface Temperature:', 'Value': '-153 to 20 °C'},
  {'Attributes': 'First Record:', 'Value': '2nd millennium BC'},
  {'Attributes': 'Recorded By:', 'Value': 'Egyptian astronomers'}]}

In [176]:
##Hemisphere images
USGSurl='https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(USGSurl)
hemImg1 = browser.html
#parse
soup = bs(hemImg1, 'html.parser')

In [142]:

soup.find_all('img', class_ ='wide-image')

In [143]:
soup.find(attrs={'class':'wide-image'})

In [144]:
finalUrl1 =USGSurl+ _.get('src')

In [145]:
finalUrl1

'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'

In [146]:

USGSurl='https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(USGSurl)
hemImg1 = browser.html
#parse
soup = bs(hemImg1, 'html.parser')

In [154]:
soup.find_all('div', class_ ='item')

[]